includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    stubFiles:
        - stubs/phpstan/kalnoy-nestedset.stub
    paths:
        - app/
        - database/
        - routes/
    level: 5
